:root{
  --color1: #4FFFB0;
  --color2: #32de84;
  --color3: #17B169;
  --color4: #006A4E;
  --color5: #004953;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Moderustic", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 100;
  background-color: #4fffb010;
  height: 100svh;
}

.header{
  position: absolute;
  z-index: 6;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 1.8rem 0;
}

.header .display .logo{
  font-weight: bold;
  color: var(--color2);
  text-decoration: none;
  font-size: 1.8rem;
}

.header .display .menu{
  display: none;
}

.header nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 2rem;
}

.header nav ul a{
  text-decoration: none;
  color: var(--color2);
  font-weight: bold;
  transition: .3s ease;
  /* border: 1px solid #000; */
}

.header nav ul a:hover{
  color: var(--color3);
  transition: .3s ease;
}

.header .active::after{
  content: '';
  display: block;
  height: 2px;
  background-color: var(--color2);
  transition: ease .3s;
  animation: aft normal .3s;
  width: 70%;
}

@keyframes aft{
  from{
    width: 0%;
  }
  to{
    width: 70%;
  }
}

.home .welcome{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home .welcome .slider{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33rem;
  width: 100%;
}

.home .welcome .slider img{
  height: 33rem;
  width: 100%;
  object-fit: cover;
  position: absolute;
  margin-top: inherit;
  transition: ease .6s;
  opacity: 0;
  object-position: top;
}

.home .welcome .slider .show{
  transition: ease .6s;
  opacity: 1;
}

.home .welcome .ms{
  color: var(--color3);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem 0;
}

.home .allc{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  padding: 8rem 0;
  color: var(--color2);
  background-color: #00495305;
  /* color: rgb(0, 73, 83); */
  box-shadow: 0px 0px 5px 0px #00495364;
}

.home .allc .card,
.allc .card{
  box-shadow: 0px 6px 10px -2px rgba(23,177,105,0.41);
  width: 20rem;
}

.home .allc .card{
  background-color: #fff;
  color: var(--color5);
  box-shadow: 0px 6px 10px -2px rgba(11, 118, 106, 0.41);
}


.home .allc .card img,
.allc .card img{
  width: 100%;
  height: 12rem;
  object-fit: cover;
  object-position: top center;
}

.home .allc .card .info,
.allc .card .info{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem;
  gap: .5rem;
}

.home .allc .card .info a,
.allc .card .info a{
  display: block;
  color: #fff;
  background-color: var(--color2);
  width: 10rem;
  text-decoration: none;
  display: grid;
  place-items: center;
  height: 2rem;
  font-size: 1rem;
}

.home .allc .card .info a{
  background-color: var(--color5);
}

.footer{
  background-color: var(--color5);
  color: var(--color1);
  margin: 0;
  padding: 2rem 25rem;
  box-shadow: 0px -3px 10px -3px #074227bf;
}

.footer .uno{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid #f00; */
  margin-bottom: 3rem;
}

.footer .uno .u a{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color1);
  text-decoration: none;
}

.footer .uno:first-child svg{
  width: 1.4rem;
}

.footer .uno .n{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: .6rem;
}

.footer .uno .n div{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: .2rem;
}

.footer .uno .n div a{
  color: var(--color1);
  text-decoration: none;
}

.footer hr{
  width: 80%;
  margin: auto;
  border-top: 1px solid var(--color1);
}

.footer .dos{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.footer .dos svg{
  width: 1.4rem;
}

.footer .dos a{
  color: var(--color2);
}
/* FOOTER */



/* HOME */
.home .history,
.home .history .b,
.home .history .his{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home .history{
  padding: 10rem 15rem;
  gap: 3rem;
  font-size: 1.3rem;
  color: var(--color5);
}

.home .history p{
  text-align: justify;
  margin-bottom: 1rem;
}

.home .history .b img{
  width: 20rem;
  height: 32rem;
  object-fit: cover;
}

.home .history .bc{
  margin-top: 2rem;
}

.home .history .his h3{
  align-self: flex-start;
}

.allInfo, .allInfo .player{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.allInfo{
  padding: 0rem 12rem 3rem;
  color: var(--color5);
}

.allInfo .player .back{
  color: #fff;
  background-color: var(--color3);
  border: none;
  font-size: 1rem;
  align-self: flex-start;
  justify-self: flex-start;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: .5rem;
  border-radius: 1rem;
  margin: .4rem 0;
  overflow: hidden;
}

.allInfo .player .back svg{
  background-color: var(--color4);
  display: block;
  flex-grow: 4;
  box-sizing: content-box;
  padding: .3rem;
  width: 18px;
}

.allInfo .player .back p{
  padding: .3rem 1rem 0 0;
}

.allInfo .player > img{
  width: 100%;
  height: 35rem;
  object-fit: cover;
}

.allInfo .bio{
  margin: 5rem 0;
  text-align: justify;
  line-height: 1.5rem;
}

.allInfo>h1{
  margin: 5rem 0 2rem;
}

.allInfo .club caption,
.allInfo .sel caption,
.allInfo .solo caption{
  margin: .8rem 0 .3rem;
  font-weight: bold;
  font-size: 1.1rem;
}

.allInfo .club,
.allInfo .sel{
  width: 40rem;
}

.allInfo .club td,
.allInfo .club th,
.allInfo .sel td,
.allInfo .sel th{
  text-align: left;
}

.allInfo .club tr,
.allInfo .sel tr{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.allInfo .club .uno,
.allInfo .sel .uno{
  grid-column: 1/3;
}

.allInfo .solo{
  width: 40rem;
}

.allInfo .solo th{
  text-align: left;
}


.buscar .buscador,
.buscar .buscador .bsc{
  display: flex;
  justify-content: center;
  align-items: center;
}

.buscar .buscador{
  padding: 10rem 0 5rem;
  flex-direction: column;
  gap: 6rem;
  color: var(--color2);
}

.buscar .buscador h1{
  font-size: 3rem;
}

.buscar .buscador .bsc{
  width: 40rem;
  height: 3rem;
  border-radius: 5rem;
  overflow: hidden;
}

.buscar .buscador .bsc input{
  width: 90%;
  height: 100%;
  padding-left: 1rem;
  font-size: 1.1rem;
  border: none;
  outline: none;
  color: var(--color5);
  border-radius: 5rem 0 0 5rem;
  border: 2px solid var(--color2);
}

.buscar .buscador .bsc input::placeholder{
  color: #0049535c;
}

.buscar .buscador .bsc button{
  height: 100%;
  border: none;
  background-color: var(--color2);
  padding: .5rem .8rem .5rem .3rem;
  cursor: pointer;
  border-radius: 0 5rem 5rem 0;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
}

.buscar .allc{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  padding: 5rem 0;
  color: var(--color2);
}

.buscar .no{
  display: grid;
  place-items: center;
  padding: 8rem 0;
}

.buscar .no h1{
  opacity: .5;
  color: var(--color5);
}

.contact{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15rem 0 10rem;
  gap: 10rem;
}

.contact a{
  display: block;
  padding: 2rem;
  border-radius: 1rem;
  transition: .5s ease;
}

.contact .f:hover{
  box-shadow: 0px 6px 7px -1px rgba(59,89,152,1);
}
.contact .i:hover{
  box-shadow: 0px 6px 7px -1px rgba(214,17,70,1);
}
.contact .w:hover{
  box-shadow: 0px 6px 7px -1px rgba(37,211,102,1);
}

.contact svg{
  width: 5rem;
  color: #d61146;
}

.about{
  padding: 10rem 20rem 5rem;
  color: var(--color5);
}

.about p{
  text-align: justify;
  margin-top: 1rem;
  font-size: 1.1rem;
  line-height: 2rem;
}

.about p span{
  font-weight: bold;
}

.about .cr{
  margin-top: 3rem;
}


/* RESPONSIVE */


@media screen and (min-width: 768px) and (max-width: 990px) {
  /* body{
    background-color: red;
  } */

  .home .allc{
    grid-template-columns: repeat(2, 1fr);
    padding: 6rem 3rem;
    gap: 2rem;
  }

  .home .allc .card img{
    width: 100%;
    height: 15rem;
  }

  .home .history{
    padding: 5rem 3rem;
  }

  .footer{
    width: 100%;
    padding: 5rem 8rem;
  }

  .footer .dos p svg{
    margin-right: .5rem;
    width: 1rem;
  }

  .footer .dos a{
    text-wrap: nowrap;
  }

  .buscar, .buscar .buscador{
    padding: 0;
    width: 100%;
  }

  .buscar{
    padding: 0 3rem;
  }

  .buscar .buscador{
    padding: 10rem 0 3rem;
  }

  .buscar .buscador .bsc{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: none;
    width: 100%;
    border-radius: 0;
    overflow: auto;
    gap: 1rem;
    height: auto;
  }

  .buscar .buscador .bsc input{
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--color2);
    border-radius: 0;
    height: 2.8rem;
    background-color: #0049530e;
    transition: ease .3s;
  }

  .buscar .buscador .bsc input:focus{
    border: 1px solid var(--color2);
    border-radius: .5rem;
    transition: ease .3s;
  }

  .buscar .buscador .bsc button{
    width: 100%;
    border-radius: 0;
  }

  .buscar .allc{
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .buscar .allc .card{
    width: 100%;
    height: 100%;
  }

  .buscar .allc .card img{
    width: 100%;
    height: 15rem;
  }

  .contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    padding: 15rem 3rem 5rem;
    place-items: center;
  }

  .contact a{
    display: block;
    border-radius: 1rem;
    transition: .5s ease;
    padding: 4rem;
  }
  
  .contact .f{
    box-shadow: 0px 6px 7px -1px rgba(59,89,152,1);
  }
  .contact .i{
    box-shadow: 0px 6px 7px -1px rgba(214,17,70,1);
  }
  .contact .w{
    box-shadow: 0px 6px 7px -1px rgba(37,211,102,1);
  }

  .about{
    padding: 10rem 4rem;
  }

  .allInfo{
    padding: 0;
    width: 100%;
  }

  .allInfo .player img{
    height: 30rem;
  }

  .allInfo .club,
  .allInfo .sel,
  .allInfo .solo,
  .allInfo .bio{
    width: 100%;
    padding: 0 4rem;
  }

  .allInfo table tr{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
    margin-top: .5rem;
  }

  .allInfo table tr .uno{
    grid-column: 1/3;
  }

  .allInfo .solo tr .uno{
    grid-column: 1/4;
  }
}





@media screen and (max-width: 767px) {
  /* body{
    background-color: red;
  } */

  .header{
    width: 100%;
    flex-direction: column;
    padding: 0;
    gap: 0;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: .5rem;
  }
  .header .display{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    justify-self: flex-start;
  }

  .header nav ul{
    width: 100%;
    justify-content: space-between;
  }

  .header nav ul a{
    font-size: .9rem;
  }

  .home .welcome .ms{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 5rem 1rem;
    gap: 2rem;
  }

  .home .allc{
    grid-template-columns: repeat(1, 1fr);
    padding: 6rem 2rem;
    gap: 4rem;
  }

  .home .allc .card{
    width: 100%;
    height: 100%;
  }

  .home .allc .card img{
    width: 100%;
    height: 15rem;
  }

  .home .history{
    padding: 5rem 2rem;
  }

  .home .history h1{
    font-size: 2.5rem;
  }

  .footer{
    width: 100%;
    padding: 5rem 2rem;
  }

  .footer .dos p svg{
    margin-right: .5rem;
    width: 1rem;
  }

  .footer .dos a{
    text-wrap: nowrap;
  }

  .buscar, .buscar .buscador{
    padding: 0;
    width: 100%;
  }

  .buscar{
    padding: 0 2rem;
  }

  .buscar .buscador{
    padding: 10rem 0 3rem;
  }

  .buscar .buscador .bsc{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: none;
    width: 100%;
    border-radius: 0;
    overflow: auto;
    gap: 1rem;
    height: auto;
  }

  .buscar .buscador .bsc input{
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--color2);
    border-radius: 0;
    height: 2.8rem;
    background-color: #0049530e;
    transition: ease .3s;
  }

  .buscar .buscador .bsc input:focus{
    border: 1px solid var(--color2);
    border-radius: .5rem;
    transition: ease .3s;
  }

  .buscar .buscador .bsc button{
    width: 100%;
    border-radius: 0;
  }

  .buscar .allc{
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem;
  }

  .buscar .allc .card{
    width: 100%;
    height: 100%;
  }

  .buscar .allc .card img{
    width: 100%;
    height: 15rem;
  }

  .contact{
    flex-direction: column;
    gap: 4rem;
  }

  .contact a{
    display: block;
    padding: 2rem;
    border-radius: 1rem;
    transition: .5s ease;
  }
  
  .contact .f{
    box-shadow: 0px 6px 7px -1px rgba(59,89,152,1);
  }
  .contact .i{
    box-shadow: 0px 6px 7px -1px rgba(214,17,70,1);
  }
  .contact .w{
    box-shadow: 0px 6px 7px -1px rgba(37,211,102,1);
  }

  .about{
    padding: 10rem 2rem;
  }

  .allInfo{
    padding: 0;
    width: 100%;
  }

  .allInfo .player img{
    height: 30rem;
  }

  .allInfo .club,
  .allInfo .sel,
  .allInfo .solo,
  .allInfo .bio{
    width: 100%;
    padding: 0 2rem;
  }

  .allInfo table tr{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
    margin-top: .5rem;
  }

  .allInfo table tr .uno{
    grid-column: 1/3;
  }

  .allInfo .solo tr .uno{
    grid-column: 1/4;
  }  
}